{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Books Home DB{% endblock %}
 
{% block content %}
 <h1>All Books DB</h1>

<div class="container">
    <a href="{% url 'products.create' %}" class="btn btn-primary ">Add New Book </a>
    <table class="table table-dark table-striped">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>No Of Pages</td>
            <td>Author</td>
            <td>Price</td>
            <td>Image</td>
            <td>Show</td>
            <td>Delete</td>
        </tr>

        {% for prd in products %}
            <tr>
                <td>{{ prd.id }}</td> 
                <td>{{ prd.title }}</td> 
                <td>{{ prd.no_of_pages }}</td> 
                <td>{{ prd.author }}</td> 
                <td>{{ prd.price }}</td> 
               
                <td><img width="200" height="200" 
                src ="{% static 'books/images/'|add:prd.image %}" 
            >
          
        </td>
<!--        <td> <a class="btn btn-info" href="{% url 'products.show' prd.id %}"> Show</td>-->
        <td> <a class="btn btn-info" href="{{prd.show_url}}"> Show</td>
        <td> <a class="btn btn-danger" href="{{prd.delete_url}}"> Delete</td>
            </tr>

        {% endfor %}
    </table>
{% comment %} 
    <script src="{% static 'books/js/scripts.js'%}">

    </script> {% endcomment %}
  
</div>

{% endblock %}
