{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Books Home DB{% endblock %}
 
{% block content %}
<!--<h1 class="text-center mb-4">All Books DB</h1>-->
<style>
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
</style>
<div class="container">
   <div class="row">
    <div class="col">
        <a href="{% url 'products.create' %}" class="btn btn-primary m-1">Add New Book</a>
    </div>
    <div class="col">
        <a href="{% url 'products.create.forms' %}" class="btn btn-primary m-1">Add New Book via form</a>
    </div>
    <div class="col">
        <a href="{% url 'products.create.modelform' %}" class="btn btn-primary m-1">Add New Book via model form</a>
    </div>
</div>


    <div class="row">
        {% for prd in products %}
        <div class="col-md-3 mb-3">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top" src="{{ prd.image_url }}" alt="{{ prd.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ prd.title }}</h5>
                    <p class="card-text">Author: {{ prd.author }}</p>
                    <p class="card-text">Pages: {{ prd.no_of_pages }}</p>
                    <p class="card-text">Price: {{ prd.price }}</p>
                </div>
                <div class="card-footer bg-transparent border-0">
                    <a href="{{ prd.show_url }}" class="btn btn-info mr-2">Show</a>
                    <a href="{{ prd.edit_url }}" class="btn btn-warning">Edit</a>
                    <a href="#" class="btn btn-danger mr-2" onclick="confirmDelete('{{ prd.delete_url }}')">Delete</a>
<!--                    <a href="{{ prd.update_url }}" class="btn btn-success">Update</a>-->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function confirmDelete(url) {
        if (confirm("Are you sure you want to delete this product?")) {
            window.location.href = url;
        }
    }
</script>
{% endblock %}

